/**
 * Miscellaneous tags and attributes not handled in blocks, theme.json
 * or large enough to have their own file.
 */

/* Remove default margin - may not need, do we have dl, dd tags in blocks? */

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons - button block uses <a> tag */
input,
button,
textarea,
select {
  font: inherit;
}

/* both pre and code have to be established here to override
   if these aren't set, the browser overrides the block style font-family
   but if they are set, then they can be overridden.
*/
pre,
code {
  font-family: var(--wp--preset--font-family--mono);
}

/* Make images easy to work with by default,
    potentially add <picture>.
    Maybe not necessary - WP wraps images in <figure> captions

img {
  display: block;
  max-width: 100%;
} */

/* blur images without an alt tag */
img:not([alt]) {
  filter: blur(10px);
}

/* Block styles won't override without this */
blockquote, figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* Columns custom block style, probably move later */

@media (max-width: #{ ($break-large) }) {

  .is-columns-reel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: var(--wp--style--block-gap);
    scrollbar-color: var(--wp--preset--color--secondary) var(--wp--preset--color--primary);
    -webkit-overflow-scrolling: touch;
  }

  .is-columns-reel::-webkit-scrollbar {
    height: 1rem;
  }

  .is-columns-reel::-webkit-scrollbar-track {
    height: var(--wp--preset--color--primary);
  }

  .is-columns-reel::-webkit-scrollbar-thumb {
    background-color: var(--wp--preset--color--primary);
  }

  .is-columns-reel > .wp-block-column {
    flex: 0 0 auto !important;
    width: 65%;
  }
  .is-columns-reel > .wp-block-column > .wp-block-cover {
    min-height: 50vh !important;
  }
}

