/**
 * Modern CSS Reset.
 *
 * Ref: https://piccalil.li/blog/a-modern-css-reset/
 * @since 0.0.1
 */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/**
 * Thoroughly remove default margins. Handling here rather
 * than through theme.json to reduce clutter / allow for
 * more flexible customization there.
 *
 * @since 0.0.1
 */
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
	margin: 0;
}
/**
 * Body style optimizations.
 * 1. Force <body> to take up the entire viewport, even if empty.
 * 2. use optimizeSpeed for text-rendering rather than optimizeLegibility.
 *
 * Optimize legibility can lead to ~30 second load times. Best for
 * one off uses.
 *
 * We set line-height defaults in theme.json. 1.5 > 1.2 for accessibility.
 *
 * Reference: https://marco.org/2012/11/15/text-rendering-optimize-legibility
 * Old, but still relevant page speed optimization.
 * @since 0.0.1
 */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
}
