/**
 * Sets global typography custom props.
 *
 * @since 0.0.1
 */

/**
 * Default System stacks for theme.
 *
 * System Stack Notes:
 * -Android defaults to fallbacks based on other keywords. Only Roboto, Noto Serif & Droid Sans Mono installed.
 *  Omitting specific reference to things like Roboto. "Transitional" Serif's match well with Noto Serif.
 *  ref: https://markdotto.com/2018/02/07/github-system-fonts/
 *
 * -Linux varies quite a bit, but DejaVu Serif is particularly popular and roughly equivalent to Baskerville/Georgia.
 *  Raspberry Pi is the oddball: https://www.ctrl.blog/entry/font-stack-text.html
 * -Document fonts on Mac/iOS do not render as expected in browsers and are not reliable to use.
 *
 * ref: https://gist.github.com/don1138/5761014 (list of font stack varieties)
 * ref: https://markoskon.com/system-fonts/#disclaimersfuture-improvements
 * ref: https://css-tricks.com/snippets/css/system-font-stack/ (possible requirement to work-around @font-face)
 *
 * #### INDIVIDUAL FONT STACK NOTES ###
 * Serif:   Baskerville: iOS13, MacOS Catalina (transitional Serif). Weights: 400, 400i, 600, 600i, 700, 700i
 *          Georgia Pro: Windows 10.
 *          Georgia: Windows 10 + macOS Catalina, iOS13. Weights: 400, 400i, 700, 700i, put at end since Linux has.
 *          DejaVu Sans: Ubuntu/ Mint / Pop!_OS / Fedora, ElemntaryOS, EndeavorOS, openSUSE.
 *          Bitstream Vera Sans: fallback of DejaVu Sans. Less glyphs, not as ideal.
 *          Liberation Serif: Raspberry Pi.
 *
 * Sans-Serif:  -apple-system & BlinkMacSystemFont: macOS, iOS13 render San Francisco on Apple on different devices/browsers.
 *              Segoe UI: Windows 10 matches up with San Francisco (Helvetica based)
 *              Ubuntu fits better with San Francisco and Segoe UI, DejaVu to be anti-arial for Linux crowd. Nimbus is a good fallback.
 *              We shouldn't have to explicitly say Helvetica or Arial, as sans-serif should default to those without
 *              other defaults. For now, using Helvetica Neue as final fallback.
 * Ref: https://www.webfx.com/blog/web-design/a-web-designers-guide-to-linux-fonts/
 *
 * Monospace:   -ui-monospace, SFMono-Regular, SFMono, Menlo are all Mac related to load their default code font.
 *              Consolas - Windows 10
 *              DejaVu Sans Mono, Liberation Mono, Nimbus Mono L - Linux
 *              Courier New - Windows fall back.
 * Notes: Monospace is the oddball, not as much development on font stacks as sans-serif or serif.
 * Ref: https://ianyepan.github.io/posts/system-default-monospace-fonts-pt2/
 * Ref: https://www.client9.com/css-system-font-stack-monospace-v2/
 * Ref: https://qwtel.com/posts/software/the-monospaced-system-ui-css-font-stack/
 */

/**
 * Limit the width of text-based elements
 * based on sensible reading lengths. Text lines
 * should be between 65 & 75 characters long.
 *
 * Ref: https://piccalil.li/tutorial/improve-the-readability-of-the-content-on-your-website/
 */
p,
li {
	max-width: 60ch;
}

h1 {
	max-width: 15ch;
}

h2,
h3 {
	max-width: 25ch;
}
