/**
 * WP Code Block CSS.
 * Replaces style.css & theme.css
 *
 * @url https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/code/style.scss
 * @url https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/code/theme.scss
 * @since 0.0.3
 */
.wp-block-code {
    --wp--custom--box-sizing: content-box;
    box-sizing: var(--wp--custom--box-sizing);
    color: var(--wp--preset--color--luminous-vivid-amber);
    background-color: var(--wp--preset--color--foreground);
    padding: var(--wp--custom--flow--rate);
    border-radius: var(--wp--custom--border--size);
}
.wp-block-code code {
    display: block;
    white-space: pre-wrap;
}