/**
 * WP Pull Quote Block CSS.
 * Replaces style.css & theme.css
 *
 * @url https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/pullquote/style.scss
 * @url https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/pullquote/theme.scss
 * @since 0.0.3
 */
.wp-block-pullquote {
    padding-block-start: var(--wp--custom--space-5);
    padding-block-end: var(--wp--custom--space-5);

    border-block-start: var(--wp--custom--border--size) solid currentColor;
    border-block-end: var(--wp--custom--border--size) solid currentColor;

    text-align: center;
}

.wp-block-pullquote p {
    font-size: var(--wp--preset--font-size--large);
}

.wp-block-pullquote cite {
    font-size: var(--wp--preset--font-size--medium);
    font-style: normal;
    text-transform: uppercase;
}

.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p {
    --wp--preset--font-size--large: var(--wp--preset--font-size--medium);
}

.wp-block-pullquote.alignleft cite,
.wp-block-pullquote.alignright cite {
    --wp--preset--font-size--medium: var(--wp--preset--font-size--normal);
}
